In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_clipboard()

In [4]:
data

     Pressure Bucket (kPa)  Frequency
0                    10000        0.5
1                     9950        0.0
2                     9900        0.0
3                     9850        0.0
4                     9800        0.0
..                     ...        ...
195                    250      112.0
196                    200      195.0
197                    150      377.0
198                    100      782.5
199                     50    23098.5

[200 rows x 2 columns]

In [7]:
def convert_cycles(p1, p2, od, wt, smys, uts, n1):
    s1 = p1*od/(2*wt)
    s2 = p2*od/(2*wt)
    
    right = np.power( (p2/p1)*( (1-np.power(s1/(2*uts),2)) / (1-np.power(s2/(2*uts),2)) ) ,5.26)
    
    n2 = n1/right
    
    return n2

In [9]:
data[f'Equivalent Cycles @ {9600.0}kPa'] = convert_cycles(data['Pressure Bucket (kPa)'].values, 9600.0, 114.3, 3.18, 241.3165053, 413000, data.Frequency.values)

In [11]:
data.to_clipboard()