In [5]:
import pandas as pd
import numpy as np
import pyodbc
import matplotlib.pyplot as plt

In [204]:
driver = '{SQL Server Native Client 11.0}'
server = 'sql2017'
db = 'plains_irasv6_uat'
conn = pyodbc.connect("Driver="+driver+";Server="+server+";Database="+db+";Trusted_Connection=yes;")

# performing query to database

# q = """set nocount on;
#         select * from inlineinspectionrange r
#         join listdomain ld on r.ilirtooldomainid = ld.id
#         where ld.code like '%Ultra Sonic%'"""

# q = """set nocount on;
#         select * from maop"""

# q = """set nocount on;
#         select ld.code [type], lu.* from landuse lu
#         join listdomain ld on lu.landusedomainid = ld.id"""

# q = """set nocount on;
#         select ld.code [type1], ld2.code [type2], c.* from coatingcondition c
#         join listdomain ld2 on c.CoatingCondWeldFoundDomainId = ld2.id
#         join listdomain ld on c.CoatingCondLineFoundDomainId = ld.id
# """

q = """set nocount on;
        select ld.code [type], c.* from coating c
        join listdomain ld on c.CoatingWeldDomainId = ld.id"""

# q = """set nocount on;
#         select ps.* from pipesegment ps
#         --join listdomain ld on c.CoatingLineDomainId = ld.id"""

# q = """set nocount on;
#         select cd.* from coverdepth cd
#         --join listdomain ld on c.CoatingLineDomainId = ld.id"""

# q = """set nocount on;
#         select ld.code [type], pc.* from productcomponent pc
#         join listdomain ld on pc.ProductTypeDomainId = ld.id"""

# q = """set nocount on;
#         select od.* from operatingdata od
#         --join listdomain ld on pc.ProductTypeDomainId = ld.id"""

# q = """set nocount on;
#         select ll.id [LLID], ld.code [type], (v.StationNum+mlv.FactorNum) [chainage], v.* from valve v
#         join mlvcorrection mlv on v.stationseriesid = mlv.stationseriesid
#         join stationseries ss on v.stationseriesid = ss.id
#         join lineloop ll on ss.lineloopid = ll.id
#         join listdomain ld on v.ValveTypeDomainId = ld.id"""

# q = """set nocount on;
#         select ep.* from elevationprofile ep
#         --join listdomain ld on pc.ProductTypeDomainId = ld.id"""

# q = """set nocount on;
#         select ld.code [type], ca.* from classarea ca
#         join listdomain ld on ca.ClassAreaRatingDomainId = ld.id"""

# q = """set nocount on;
#         select /*ld.code [type],*/ cps.* from cpsurveyreading cps
#         --join listdomain ld on ca.ClassAreaRatingDomainId = ld.id"""

# q = """set nocount on;
#         select * from VirtualTableDataNum vtdn
#         where vtdn.VirtualTableId = 145 --135 is iFilmsMeanCGR; 66 is full bore outflow; 154 is leak outflow
#                                         --86 is leak pop
#                                         --142 is rupture pop
#                                         --144 is puncture pop
                                        
#                                         --87 is leak structure cost
#                                         --143 is rupture structure cost
#                                         --145 is punture structure cost"""

# q = """set nocount on;
#         select /*ld.code [type],*/ cps.* from cpsurvey cps
#         --join listdomain ld on ca.ClassAreaRatingDomainId = ld.id"""

data = pd.read_sql_query(q,conn)

conn.close()

In [152]:

# data['ILIRStartDate'] = pd.to_datetime(data['ILIRStartDate'])
data.ILIRStartDate.describe()

count                       3
unique                      3
top       2018-02-08 00:00:00
freq                        1
first     2007-05-03 00:00:00
last      2018-02-08 00:00:00
Name: ILIRStartDate, dtype: object

In [132]:
# (data.loc[data.MaxAllowablePressure>45,'MaxAllowablePressure']/6.89476).describe()
data.loc[data.MaxAllowablePressure>45,'MaxAllowablePressure'].describe()

count      673.000000
mean      7459.225706
std       3043.488107
min        172.000000
25%       5960.000000
50%       8270.000000
75%       9930.000000
max      21646.900000
Name: MaxAllowablePressure, dtype: float64

In [33]:
# data.type = data.type.astype('category')
data.type.describe()

count            17595
unique              11
top       Agricultural
freq              8305
Name: type, dtype: object

In [208]:
# data.type = data.type.astype('category')
# data.iloc[:,6:12].describe(include='all')
data.CoatingInstallDate.describe(include='all')

count     0
unique    0
Name: CoatingInstallDate, dtype: int64

In [182]:
# data.columns
# data.EffectiveStartDate = pd.to_datetime(data.EffectiveStartDate)
# data.PipeInserviceDate = pd.to_datetime(data.PipeInserviceDate)
# data.EffectiveStartDate.describe()
data.PipeInserviceDate.describe()
# data.PipeWallThickness.loc[(data.PipeWallThickness>0)& (data.PipeWallThickness <99)].describe()
# data.PipeOutsideDiameter.loc[data.PipeOutsideDiameter<99].describe()
# # data.PipeGrade.loc[(data.PipeGrade<99999) & (data.PipeGrade>20)].describe()
# data.PipeToughness.dropna().describe()

count                    7226
unique                    131
top       1971-01-01 00:00:00
freq                      533
first     1900-01-01 00:00:00
last      2019-01-07 00:00:00
Name: PipeInserviceDate, dtype: object

In [47]:
data.CoverDepth.describe()

count    189170.000000
mean          1.274369
std           0.528005
min           0.000000
25%           0.950000
50%           1.170000
75%           1.410000
max          32.400000
Name: CoverDepth, dtype: float64

In [54]:
# data.type = data.type.astype('category')
data.type.describe()

count            221
unique             9
top       Condensate
freq              98
Name: type, dtype: object

In [61]:
# (data.OperatingTemperature* (9/5)+32).describe()
data.OperatingTemperature.describe()
#(0°C × 9/5) + 32 = 32°F

count    55.000000
mean      9.916364
std      10.469263
min       3.500000
25%       3.500000
50%       7.000000
75%      10.000000
max      65.000000
Name: OperatingTemperature, dtype: float64

In [139]:
# data.type = data.type.astype('category')
# for x in data.type.unique():
#     print(x)

data.groupby('LLID').StationNum.agg('count').describe()
# data.groupby('LLID').apply(lambda x: abs(np.mean(x['chainage'].shift(-1)-x['chainage']))).dropna().describe()

count    308.000000
mean       4.535714
std        6.252194
min        1.000000
25%        2.000000
50%        2.000000
75%        5.000000
max       61.000000
Name: StationNum, dtype: float64

In [123]:
data.Elevation.describe()

count    890623.000000
mean        765.329979
std         258.511076
min         171.000000
25%         614.195000
50%         705.290000
75%         971.000000
max        1495.820000
Name: Elevation, dtype: float64

In [144]:
data.type.describe()

count     997
unique      4
top         1
freq      574
Name: type, dtype: object

In [156]:
data.loc[:,['CPSurveyReadingOn','CPSurveyReadingOff']].agg(['min','max','mean','median'])

        CPSurveyReadingOn  CPSurveyReadingOff
min            795.000000          590.000000
max           4548.000000         2483.000000
mean          1540.412099         1249.442955
median        1511.000000         1234.000000

In [188]:
data.DataFieldValueNum.describe()

count    2.571700e+04
mean     2.628269e+05
std      2.013765e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      2.500000e+04
max      9.707134e+07
Name: DataFieldValueNum, dtype: float64

In [163]:
data.CPSurveyDate.describe()

count                      45
unique                     12
top       2017-01-01 00:00:00
freq                       19
first     2016-01-01 00:00:00
last      2017-01-01 00:00:00
Name: CPSurveyDate, dtype: object